<div class="alert alert-warning" ng-show="message">{{message}}</div>

<div class="application" ng-repeat="app in applications">
    <h4>{{app.name}}</h4>
    <div>{{app.description}}</div>
    <div>
        <h4><i class="fa fa-code fa-lg" aria-hidden="true"></i> <a class="env" ng-href="#/builds/{{app.name}}">Builds</a></h4>
        <h4><i class="fa fa-server fa-lg" aria-hidden="true"></i> <a class="env" ng-href="#/deployment/{{app.name}}">Environments</a></h4>
    </div>
</div>

<div>
    <button type="button" class="btn btn-info add" ng-click="showme=true" ng-hide="showme">
          <span class="glyphicon glyphicon-plus-sign"></span> Add
    </button>
</div>

<div class="panel panel-default col-md-3 application" ng-show="showme">
    <h4>New Application</h4> <input class=" form-control " type="text " placeholder="Application Name " ng-model="appName "><br>
    <div><input class="form-control " type="text " placeholder="Application Description " ng-model="appDescription "></div><br>
    <div><button class="btn btn-primary " ng-click="addApplication() ">Add</button>&nbsp;<button class="btn btn-default " ng-click="showme=false">Cancel</button></div>
</div>