<h3>{{application}}</h3>
<ul class="nav nav-tabs">
  <li><a href="#/builds/{{application}}">Builds</a></li>
  <li class="active"><a href="#/deployment/{{application}}">Deployments</a></li>
</ul>


  <table class="table table-bordered table-hover table-condensed table-striped">
    <tr>
      <th>
        Env Name
      </th>
      <th>
        Status
      </th>
      <th>
        Builds
      </th>
      <th>
        Last Deployment
      </th>
      <th>
        Action
      </th>

    </tr>
    <tr ng-repeat="environment in environments">
      <td>{{environment.name}}  <span class="glyphicon glyphicon-question-sign" title="{{environment.description}}"></span>
      </td>
      <td>{{environment.latestDeployment.status}}</td>
      <td><a href="#/builds/{{application}}?build={{environment.latestDeployment.build}}">{{environment.latestDeployment.build}}</a></td>
      <td>{{environment.latestDeployment.last_update| date:'MM/dd/yyyy @ h:mma'}}</td>
      <td>

<button>>></button>
      </td>
    </tr>
  </table>

<div>
    <button type="button" class="btn btn-info" ng-click="showme=true" ng-hide="showme">
          <span class="glyphicon glyphicon-plus-sign"></span> Add Environment
    </button>
</div>

<div class="panel panel-default col-md-3" ng-show="showme">
<form >
    <h4>Environment:</h4>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="envName" placeholder="Environment Name"><br>
    </div>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="envDesc" placeholder="Environment Description"><br>
    </div>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" ng-click="addEnvironment()">Add</button>&nbsp;<button class="btn btn-default " ng-click="showme=false">Cancel</button>
    </div>
</form>
</div>
