<h3>{{application}}</h3>
<ul class="nav nav-tabs">
  <li><a href="#/builds/{{application}}">Builds</a></li>
  <li class="active"><a href="#/deployment/{{application}}">Deployments</a></li>
</ul>



<div class="panel panel-default overlay" ng-show="progress.active">
  <div class="panel-heading">Deploying progress</div>
  <div class="panel-body">
    
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="{{progress.value}}" aria-valuemin="0" aria-valuemax="100" style="width:50%">
    {{progress.value}}%
  </div>
</div>


  </div>
</div><br>


<div class="col-md-6">
<form>
Build Info: <span class="bg-primary label">#{{build._id}}</span>
<dl>
<dt>Repo:</dt><dd>{{build.gitRepo}}</dd>
<dt>Branch:</dt><dd>{{build.gitBranch}}</dd>
<dt>git SHA:</dt><dd>{{build.gitSHA}}</dd>
<dt>Docker Digest:</dt><dd>{{build.dockerDigest}}</dd>
<dt>Build at:</dt><dd>{{build.created_at| date:'MM/dd/yyyy @ h:mma'}}</dd>
</dl>
Environments:
<div ng-repeat="environment in environments"> 
<label>
<input type="radio" ng-model="targetEnv.id" value="{{environment._id}}"> {{environment.description}}
</label>
</div><br>
<button  class="btn btn-primary" ng-click="addDeploy()">Deploy</button>
<a href="#/builds/{{application}}" class="btn btn-default">Cancel</a>


</form>


</div>

