{{application}}
<ul class="nav nav-tabs">
  <li><a href="#/builds/{{application}}">Builds</a></li>
  <li class="active"><a href="#/deployment/{{application}}">Deployments</a></li>
</ul>


  <hr/>
  <table class="table table-bordered">
    <tr>
      <th>
        Env Name
      </th>
      <th>
        <button ng-click="sortBy('gitBranch')">Status</button>
      </th>
      <th>
        Builds
      </th>
      <th>
        <button ng-click="sortBy('created_at')">Last Deployment</button>
      </th>
      <th>
        Action
      </th>

    </tr>
    <tr ng-repeat="environment in environments">
      <td>{{environment.name}}  <span class="glyphicon glyphicon-question-sign" title="{{environment.description}}"></span>
</td>
      <td>{{environment.gitBranch}}</td>
      <td></td>
      <td>{{environment.FromNow}} <span class="glyphicon glyphicon-question-sign" title="{{environment.updated_at}}"></span></td>
      <td><button>deploy</button></td>
    </tr>
  </table>
