<h3>{{application}}</h3>
<ul class="nav nav-tabs">
  <li><a href="#/builds/{{application}}">Builds</a></li>
  <li class="active"><a href="#/deployment/{{application}}">Deployments</a></li>
</ul>


  <table class="table table-bordered">
    <tr>
      <th>
        Env Name
      </th>
      <th>
        <button ng-click="sortBy('gitBranch')">Status</button>
      </th>
      <th>
        Builds
      </th>
      <th>
        <button ng-click="sortBy('created_at')">Last Deployment</button>
      </th>
      <th>
        Action
      </th>

    </tr>
    <tr ng-repeat="environment in environments">
      <td>{{environment.name}}  <span class="glyphicon glyphicon-question-sign" title="{{environment.description}}"></span>
      </td>
      <td>{{environment.latestDeployment.status}}</td>
      <td>{{environment.latestDeployment.build}}</td>
      <td>{{environment.FromNow}} <span class="glyphicon glyphicon-question-sign" title="{{environment.updated_at}}"></span></td>
      <td>

    <label for="buildSelect"> Select Build: </label>
    <select name="buildSelect" id="buildSelect" ng-model="builds.model">
      <option ng-repeat="option in builds.availableOptions" value="{{option.id}}">{{option.name}}</option>
    </select>
<button>deploy</button>
      </td>
    </tr>
  </table>


<div class="panel panel-default col-md-3">
<form >
    <label class="control-label">Environment:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="envName" placeholder="Environment Name">
    </div>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="envDesc" placeholder="Environment Description">
    </div>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" ng-click="addEnvironment()">Add</button>
    </div>
</form>
</div>
