
    <h2>{{message}}</h2>
    <h1>environments for {{application}} </h1>
    Search: <input type="text" ng-model="search.name">
    <ul>
        <li ng-repeat="environment in environments | filter: search">
            <a href="#/{{applicationid}}/{{environment._id}}">{{environment.name}}</a>
            <button ng-click="delEnv($index)">remove</button>
        </li>
    </ul>

    New Environment <input type="text" ng-model="newEnvironment"><button ng-click="saveEnv()">Create</button>
    <a href="#/">back</a>
