


    <h2>{{message}}</h2>
    <h1>properties for {{application}} in {{environment}} </h1>
    <h1>{{ environment.name }}</h1>
    Search: <input type="text" ng-model="search.name">
    <ul>
        <li ng-repeat="property in properties | filter: search">
            {{property.key}} : {{property.value}}
            <button ng-click="delKey($index)">remove</button>
        </li>
    </ul>

    Key: <input type="text" ng-model="newKey">
    Value: <input type="text" ng-model="newValue">
    <button ng-click="saveProperty()">Create</button>
    <a href="#/{{applicationid}} ">Back to {{application}}</a>
