body {
  padding: 1%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.application {
  float: left;
  border-radius: 25px;
  border: 2px solid #00B7FF;
  width: 23%;
  height: 170px;
  margin: 1em;
  padding: 1%;
  background: #FFFFFF;
}

.add {
  float: left;
  border-radius: 25px;
  border: 2px solid #FFFFFF;
  width: 23%;
  height: 170px;
  margin: 1em;
  padding: 1%;
  background: #00B7FF;
}

.env {
  padding-right: 20px;
  padding-top: 20px;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

.type-hint {
  /* display:inline-block; */
  background: gray;
}

.type-warning {
  /* display:inline-block; */
  background: orange;
}

.panel-body { height:100px; position:relative; }
